/* Responsive не доделано, приношу извинения проверяющим
   TODO: Fix responsive...
   TODO: Refactor responsive part code.*/
@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Regular.ttf") format("truetype");
}

* {
    margin: 0 auto;
    padding: 0 0;
    font-family: "Lato", sans-serif;
}

.header, .main, .header-underline, .navigation, .layout-underline, .footer {
    width: 1020px;
}

/* Header section */
.header {
    position: fixed;
    z-index: 1000;
    width: 1020px;
    border-bottom: 6px solid #323746;
    left: 50%;
    margin-left: -510px;
}

.burger-menu {
    display: none;
}

.empty-header {
    height: 89px;
}

.main .footer {
    position: relative;
    top: 89px;
}

#logo {
    position: relative;
    bottom:1px;
    margin-left: 40px;
    font-size: 24px;
    line-height: 6px;
    font-weight: 600;
    color: #ffffff;
}

#logo::after {
    content:'\002A';
    font-size: 25px;
    color: #f06c64;
    font-weight: 400;
}

.wrapper-nav {
    position: relative;
}

.navigation {
    padding-left: 430px;
    width: 400px;
    padding-top: 46px;
    padding-bottom: 40px;
}

.navigation>li {
    display: inline;
    margin: 0;
    font-size: 12px;
    line-height: 6px;
    text-align: left;
    list-style-type: none;
    font-weight: 500;
    color: #ffffff;
}

.nav__dot:before {
    content:'\00B7';
    padding-right: 12px;
    padding-left: 11px;
    font-size: 12px;
    color: rgba(255,255,255, 0.5);
}

#home__color:hover, li:hover {
    color: #f06c64;
    cursor: pointer;
}

.header {
    display: flex;
    height: 89px;
    align-items: center;
    overflow: hidden;
    background-color: #2d303a;
}

.header-underline {
    position: relative;
    bottom: 1100px;
    z-index: 10;
    height: 6px;
    background-color: #323746;
}

/* Slider section */
.slider {
    height: 600px;
    background-color: #f06c64;
}

.slider-underline {
    position: relative;
    bottom: 506px;
    z-index: 10;
    height: 6px;
    background-color: #F2F2F2
}

.vertical__phone {
    position: relative;
    top: 34px;
    left: 112px;
    z-index: 2;
    width: 215px;
    height: 458px;
}

.vertical__screen {
    position: relative;
    right: 95px;
    bottom: 23px;
    z-index: 3;
    width: 194px;
    height: 339px;
}

.vertical__shadow{
    position: relative;
    top: 59px;
    right: 303px;
    z-index: 1;
    width: 240px;
    height: 483px;
}

.horizontal-phone {
    position: relative;
    bottom: 428px;
    left: 547px;
    z-index: 2;
    width: 215px;
    height: 458px;
    transform: rotate(90deg);
}

.horizontal-screen {
    position: relative;
    bottom: 560px;
    left: 264px;
    width: 339px;
    height: 193px;
    z-index: 3;
}

.horizontal-shadow {
    position: relative;
    right: 134px;
    bottom: 525px;
    z-index: 1;
    width: 483px;
    height: 240px;
}

.vertical__phone:hover, .vertical__screen:hover, .horizontal-phone:hover, .horizontal-screen {
    cursor: pointer;
}

.arrow__left {
    position: absolute;
    top: 287px;
    right: 962px;
    width: 16px;
    height: 27px;
}

.arrow__right {
    position: absolute;
    top: 287px;
    right: 40px;
    width: 16px;
    height: 27px;
}

.arrow__left:hover, .arrow__right:hover {
    background: #812927;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
}

/* Our Services section */
.services>h2 {
    position: relative;
    top: 74px;
    right: 320px;
    width: 300px;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.012em;
    color: #666d89;
}

.services__text {
    position: relative;
    top: 101px;
    width: 940px;
    max-height: 60px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    font-weight: 300;
    letter-spacing: -0.012em;
    color: #767e9e;
}

.services {
    height: 500px;
    background-color: #F2F2F2;
}

.icon {
    width: 59px;
    height: 59px;
    color: #666d89;
}

.layout-3-column-2-row {
    position: relative;
    top: 100px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 960px;
    height: 246px;
    padding-top: 48px;
    padding-left: 21px;
}

.layout__element {
    width: 300px;
    height: 87px;
    min-width: 0;
    overflow: hidden;
    text-overflow: clip;
}

.column {
    flex-grow: 1;
    flex-basis: 33%;
}

.element__name {
    position: relative;
    bottom: 65px;
    left: 80px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
}

.small-move {
    position:relative;
    left: 1px;
}

.element__text {
    position: relative;
    bottom: 55px;
    left: 29px;
    width: 219px;
    height: 128px;
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-overflow: clip;
    color: #767e9e;
}

.layout-underline {
    position: absolute;
    z-index: 10;
    height: 6px;
    background-color: #ffffff;
}

/* Portfolio section */
.portfolio {
    position: relative;
    bottom: 7px;
    height: 864px;
    background-color: #2d303a;
}

.portfolio__word {
    position: relative;
    top: 69px;
    right: 320px;
    width: 300px;
    font-size: 30px;
    line-height: 18px;
    text-align: left;
    font-weight: 900;
    letter-spacing: 0.022em;
    color: #666d89;
}

.portfolio__text {
    position: relative;
    top: 96px;
    left: 1px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    font-weight: 300;
    letter-spacing: -0.013em;
    color: #767e9e;
}

.portfolio__buttons {
    position: relative;
    top: 80px;
    right: 320px;
    display: flex;
    box-sizing: border-box;
    width: 297px;
    letter-spacing: 0;
    list-style: none;
}

.button {
    margin-right: 10px;
    box-sizing: content-box;
    height: 20px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    font-weight: 400;
    color: #767e9e;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.button:hover {
    background-color: #0f0f0f;
    box-shadow: 0 0 5px cornflowerblue;
    cursor: pointer;
    color: deepskyblue;
}

#all_button {
    width: 28px;
    vertical-align: middle;
}

#web-design__button {
    width: 78px;
}

#graphic-design__button {
    width: 93px;
}

#artwork_button {
    width: 57px;
}

.portfolio__underline {
    position: relative;
    bottom: 7px;
    height: 6px;
    background-color: #323746;
}

/* Portfolio images section */
.portfolio__images {
    position: relative;
    top: 99px;
    left: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    height: 631px;
    overflow: hidden;
}

.portfolio__images>li {
    flex: 1 1 25%;
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    justify-content: space-between;
    list-style: none;
}

.portfolio__images>li>img {
    border: 5px solid #2C303A;
}

/* About us section */
.about-us {
    position: relative;
    bottom: 7px;
    height: 728px;
    background-color: #f2f2f2;
}

.about-us-underline {
    position: relative;
    bottom: 7px;
    height: 6px;
    background-color: #ffffff;
}

.about-us__heading {
    position: relative;
    top: 68px;
    right: 319px;
    width: 300px;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.0185em;
    color: #666d89;
}

.about-us__text {
    position: relative;
    top: 95px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: #767e9e;
}

/* Layout with 3 columns */
.about-us-layout {
    position: relative;
    top: 143px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 940px;
}

.about-us-layout__element {
    flex: 1 1 33%;
    width: 300px;
    justify-content: space-between;
}

.photo {
    width: 300px;
    height: 300px;
}

#middle-photo {
    width: 301px;
    height: 300px;
}
.middle-profile__margin {
    margin-left: 7px;
}

.right-profile__margin {
    position: relative;
    left: 11px;
}

.person-name {
    position: relative;
    top: 14px;
    width: 300px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    font-weight: 900;
    letter-spacing: 0.015em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666d89;
}

.person-name__margin {
    right: 6px;
}

.person-text {
    position: relative;
    top: 24px;
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    text-align: justify;
    font-weight: 400;
    letter-spacing: -0.005em;
    color: #767e9e;
}

.person-text-position {
    right: 6px;
}

#person-text__left {
    letter-spacing: -0.005em;
}

#person-text__right {
    letter-spacing: 0.001em;
}

.social-media {
    position: relative;
    top: 48px;
    right: 82px;
    display: flex;
    width: 152px;
}

#social-media__middle {
    margin-left: 80px;
}

#social-media__right {
    margin-left: 78px;
}

.social-media>img {
    width: 32px;
    height: 32px;
    margin: 0 4px;
}

.social-media>img:hover {
    background-color: rgba(127,255,212, 0.6);
    border-radius: 25px;
    box-shadow: 0 0 10px dodgerblue;
    cursor: pointer;
}

.social-media>img:active {
    background-color: #81D9BB;
}

#mid__name{
    margin-left: 1px;
}

#mid__text {
    margin-left: 2px;
    letter-spacing: 0.001em;
}

/* Quote form section */
.quote-block {
    position: relative;
    bottom: 7px;
    height: 648px;
    background-color: #f06c64;
}

.form__underline {
    position: relative;
    bottom: 7px;
    height: 6px;
    background-color: #ea676b;
}

.quote__name {
    position: relative;
    top: 68px;
    right: 320px;
    width: 300px;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.008em;
    color: #f0d8d9;
}

.quote__description {
    position: relative;
    top: 95px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    font-weight: 300;
    letter-spacing: -0.012em;
    color: #f0d8d9;
}

.quote-form {
    width: 619px;
}

.form-fieldset {
    position: relative;
    top: 142px;
    right: 160px;
    border: 0;
}

.form-fieldset label, input, textarea {
    width: 100%;
    height: 38px;
    margin-bottom: 16px;
    line-height: 28px;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
}

.form-fieldset>:hover {
    background-color: #C64F49;
}

.form-fieldset>:focus {
    color: white;
    box-shadow: 0 0 10px purple;
    outline: none;
    caret-color: white;
}

.form-fieldset>:valid {
    color: white;
}

.form-fieldset>:invalid {
    color: #FFBA2B;
}

.validation:invalid:focus {
    color: #FFBA2B;
    border: 5px solid #DB3026;
}

.validation:valid:focus {
    border: 3px solid #7BCD2B;
}

#form__email:invalid:required {
    color: #FFBA2B;
}

#form__email, #form__text, #form__subject, #textarea {
    box-sizing: border-box;
    padding-left: 15px;
    padding-bottom: 2px;
}

.form-fieldset>::placeholder {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
}

.form-fieldset>::-ms-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
}

.form-fieldset>::-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
}

#textarea {
    height: 202px;
    resize: none;
}

#textarea::placeholder {
    padding-top: 7px;
}

#send-button {
    position: relative;
    top: 140px;
    right: 161px;
    width: 100px;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #886A30;
    background-color: #FBC65F;
    border: 0;
}

#send-button:hover {
    color: white;
    background-color: #7A2028;
    box-shadow: 0 0 5px blueviolet;
    cursor: pointer;
}

#send-button:active {
    color: #4EB5FF;
    background-color: #50191E;
    box-shadow: 0 0 15px blueviolet;
}

.contact-information {
    position: relative;
    bottom: 301px;
    left: 320px;
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #f0d8d9;
}

#contact-information__word {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: #f0d8d9;
}

#contact-information__text {
    position: relative;
    top: 11px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.003em;
}

.address {
    position: relative;
    top: 31px;
    left: 4px;
}

#address__location, #address__mail, #address__phone {
    display: inline-block;
    letter-spacing: -0.001em;
}
#address__location-icon {
    position: relative;
    top: 1px;
    right: 1px;
}

#address__phone-icon {
    position: relative;
    right: 3px;
}

#address__mail-icon {
    position: relative;
    right: 4px;
}

#address__location {
    position: relative;
    left: 9px;
}

#address__phone {
    position: relative;
    bottom: 1px;
    left: 5px;
}

#address__mail {
    position: relative;
    bottom: 1px;
    left: 3px;
}

#tel-link, #mail-link {
    color: transparent;
}

#tel-link-full, #mail-link-full {
    color: inherit;
}

#tel-link-full:hover, #mail-link-full:hover {
    color: purple;
}

/* Footer section */
.footer {
    position: relative;
    bottom: 7px;
    height: 76px;
    background-color: #2d303a;
}

.copyright-text {
    position: relative;
    top: 30px;
    right: 318px;
    width: 300px;
    height: 9px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.15px;
    color: #666d89;
}

.footer-social-media {
    position: relative;
    top: 13px;
    left: 394px;
    display: flex;
    box-sizing: border-box;
    width: 160px;
}

.footer-social-media>img:hover {
    background-color: #4EB5FF;
    border-radius: 32px;
    box-shadow: 0 0 12px #4EB5FF;
    cursor: pointer;
}

.footer-social-media>img:active {
    background-color: #255070;
}

/* Special rule for FireFox */
@-moz-document url-prefix() {
    #form__email, #form__text, #form__subject, #textarea {
        padding-top: 7px;
        box-sizing: border-box;
    }
    .validation:invalid:focus {
        border: 0;
    }
}

/* Functionality */
li.active {
    color: #f06c64;
}

li.active-portfolio {
    color: #dedede;
    border: 1px solid #c5c5c5;
    transition: 0.6s ease;
}

li.active-portfolio:hover {
    color: #dedede;
    background-color: #2C303A;
}

.chosen-picture {
    border: 5px solid #F06C64 !important;
}

.currently-disabled {
    display: none;
}

#send-message-block {
    position: absolute;
    top: 2591px;
    left: 0;
    z-index: 999;
    width: 100vw;
    min-width: 100vh;
    height: 100%;
    min-height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
}

#submit-message {
    position: absolute;
    top: 30%;
    left: 50%;
    box-sizing: border-box;
    width: 1000px;
    max-width: 1000px;
    height: 30%;
    margin: 0 auto;
    padding: 10px;
    font-family: "Lato", sans-serif;
    overflow: auto;
    color: #767e9e;
    background-color: #f2f2f2;
    border: 3px solid #4EB5FF;
    border-radius: 5px;
    transform: translateX(-50%);
}

#exit-button {
    position: absolute;
    top: 61%;
    left: 50%;
    width: 70px;
    height: 30px;
    color: white;
    background-color: #4EB5FF;
    border-radius: 5px;
}
#exit-button:hover {
    background-color: #3682B9;
    cursor: pointer;
}

.modal-active {
    /*overflow: hidden;*/
}

.slider {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
}

.wrapper-slider {
    display: flex;
    width: 200%;
    height: 100%;
    flex-shrink: 0;
    transition: all 0.6s ease;
}

.slide {
    flex-basis: 50%;
    flex-shrink: 0;
}

#prev, #next {
    z-index: 999;
}

.horizontal-shadow {
    position: relative;
    bottom: 767px;
    left: 426px;
}

/* Responsive */
@media (min-device-width: 768px) and (max-device-width: 1019px) {
    .layout-underline, .header-underline, .slider-underline {
        width:100%;
    }
    .header {
        height: 111px;
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    .header-underline {
        opacity: 0;
    }

    #logo {
        margin-left: 52px;
        font-size: 30px;
    }

    #logo::after {
        font-size: 32px;
    }

    .navigation {
        padding-left: 340px;
        width: 499px;
    }

    .navigation>li {
        font-size: 15px;
    }

    #prev, #next {
        width: 20px;
        height: 34px;
    }

    /* Our services 768 */
    #services-block {
        height: 675px;
    }
    .services>h2 {
        font-size: 37px;
    }
    .services__text {
        font-size: 22px;
        line-height: 30px;
    }

    .layout-3-column-2-row {
        position: relative;
        top: 100px;
        display: grid;
        grid-template-columns: 380px 50%;
        grid-row-gap: 30px;
        grid-column-gap: 20px;
        width: 960px;
        height: 346px;
        padding-top: 68px;
        padding-left: 21px;
    }

    .layout__element {
        width: 374px;
        height: 109px;
        min-width: 0;
        overflow: hidden;
        text-overflow: clip;
    }

    .icon {
        width: 73px;
        height: 73px;
    }

    .element__name {
        font-size: 22px;
        padding-left: 20px;
        bottom: 76px;
    }

    .element__text {
        width: 270px;
        line-height: 24px;
        font-size: 15px;
        padding-left: 38px;
        bottom: 65px;
    }
    /* Portfolio 768 */
    #portfolio {
        height: 1430px;
    }

    .portfolio__word {
        font-size: 37px;
        top: 85px;
    }

    .portfolio__text {
        font-size: 22px;
        top: 126px;
    }

    .portfolio__buttons {
        top: 126px;
        margin-left: 326px;
        padding-left: 36px;
        width: 420px;
    }
    .button {
        font-size: 15px;
        height: 25px;
        line-height: 25px;
    }

    #all_button {
        width: 35px;
    }

    #web-design__button {
        width: 97px;
    }

    #graphic-design__button {
        width: 115px;
    }

    #artwork_button {
        width: 71px;
    }

    .portfolio__images {
        top: 153px;
        width: 960px;
        height: 1100px;
        overflow: visible;
    }

    .portfolio__images>li {
        flex: 1 1 33%;
        width: 275px;
        height: 233px;
        margin-bottom: 40px;
    }
    .pic {
        width: 295px;
        height: 253px;
    }
    /* About us 768 */
    .about-us {
        height: 810px;
    }

    .about-us__heading {
        top: 68px;
        font-size: 37px;
    }

    .about-us__text {
        top: 105px;
        width: 940px;
        height: 57px;
        font-size: 22px;
        line-height: 30px;
        text-align: justify;
        letter-spacing: 0.03em;
    }

    .about-us-layout {
        top: 190px;
    }

    .person-name {
        font-size: 22px;
    }

    .person-text {
        font-size: 15px;
    }

    .social-media>img {
        width: 41px;
        height: 41px;
    }
    .social-media {
        right: 46px;
        width: 230px;
    }

    #social-media__middle {
        margin-left: 42px;
    }

    #social-media__right {
        margin-left: 40px;
    }

    /* Quote block 768 */
    .contact-information {
        bottom: 334px;
    }

    #form__email, #form__text, #form__subject {
        min-height: 38px;
        height: 48px;
    }

    #form__email, #form__text, #form__subject, #textarea {
        width: 600px
    }

    .quote-block {
        height: 800px;
    }

    .quote__name {
        top: 78px;
        font-size: 37px;
    }

    .quote__description {
        top: 115px;
        font-size: 22px;
        line-height: 36px;
    }

    #quote-form {
        margin-top: 60px;
        margin-right: 202px;
    }

    #send-button {
        top: 140px;
        right: 161px;
        width: 125px;
        height: 48px;
        color: #886A30;
        background-color: #FBC65F;
        font-size: 18px;
    }

    .contact-information {
        font-size: 15px;
    }

    #contact-information__word {
        font-size: 22px;
    }

    #contact-information__text {
        line-height: 30px;
        letter-spacing: 0.04em;
    }

    .address {
        line-height: 30px;
    }
    #address__location-icon {
        width: 9px;
        height: 14px;
    }

    #address__phone-icon {
        width: 14px;
        height: 14px;
    }

    #address__mail-icon {
        width: 16px;
        height: 10px;
    }

    /* Footer 768*/
    .footer {
        height: 98px;
    }

    .copyright-text {
        padding-top: 8px;
        font-size: 15px;
    }

    .footer-social-media {
        width: 200px;
        margin-right: 444px;
    }

    .footer-logo {
        height: 40px;
        width: 40px;
    }
}


/* 375- 787px */
@media (max-device-width: 767px) {
    /* Header 375*/
    .header {
        height: 197px;
    }
    #logo {
        font-size: 46px;
        margin: 50%;
        right: 106px;
    }

    #logo::after {
        font-size: 50px;
    }
    .navigation{
        display: none;
    }
    .header-underline, .portfolio__underline, .slider-underline {
        visibility: hidden;
    }
    #prev, #next {
        width: 45px;
        height: 75px;
        top: 264px;
    }

    .empty-header {
        height: 204px;
    }

    .burger-menu {
        /* TODO: finish burger-menu. */
        display: block;
        position: relative;
        right: 1180px;
        height: 54px;
        width: 69px;
    }

    /* Services 375*/
    .services>h2 {
        top: 74px;
        right: 200px;
        font-size: 73px;
        line-height: 50px;
        width: 500px;
    }

    .services__text {
        top: 140px;
        left: 20px;
        font-size: 50px;
        line-height: 80px;
        text-align: left;
    }

    .services {
        height: 2690px;
    }

    .layout-3-column-2-row {
        position: relative;
        top: 580px;
        display: flex;
        width: 960px;
        height: 683px;
        padding-top: 68px;
        padding-left: 21px;
    }

    .layout__element {
        width: 833px;
        height: 321px;
        min-width: 0;
        overflow: hidden;
        text-overflow: clip;
    }

    .column {
        flex-basis: 100%;
    }

    .icon {
        width: 160px;
        height: 160px;
    }

    .element__name {
        font-size: 50px;
        padding-left: 20px;
        bottom: 150px;
        left: 180px;
    }

    .element__text {
        width: 620px;
        line-height: 64px;
        font-size: 33px;
        bottom: 110px;
        padding-left: 4px;
    }

    /* Portfolio 375 */
    .portfolio {
        bottom: 7px;
        height: 2360px;
    }

    .portfolio__word {
        top: 130px;
        right: 280px;
        width: 300px;
        font-size: 83px;
        line-height: 79px;
    }

    .portfolio__text {
        top: 180px;
        left: 40px;
        width: 940px;
        height: 57px;
        font-size: 50px;
        line-height: 80px;
        text-align: left;
    }

    .portfolio__buttons {
        top: 420px;
        right: 34px;
        display: flex;
        width: 825px;
    }

    .button {
        margin-right: 10px;
        height: 56px;
        font-size: 33px;
        line-height: 52px;
        border: 3px solid #666d89;
        border-radius: 14px;
    }

    #all_button {
        width: 78px;
    }

    #web-design__button {
        width: 216px;
    }

    #graphic-design__button {
        width: 258px;
    }

    #artwork_button {
        width: 158px;
    }

    li.active-portfolio {
        color: #dedede;
        border: 3px solid #c5c5c5;
    }

    .portfolio__images {
        top: 500px;
        left: 18px;
        display: flex;
        flex-wrap: wrap;
        width: 920px;
        height: 1552px;
        overflow: hidden;
    }

    .portfolio__images>li {
        flex: 1 1 50%;
        width: 418px;
        height: 355px;
        margin-bottom: 40px;
    }

    .pic {
        width: 418px;
        height: 355px;
    }
    /* About us 375 */
    .about-us {
        bottom: 7px;
        height: 4830px;
    }

    .about-us__heading {
        top: 118px;
        right: 19px;
        width: 833px;
        font-size: 83px;
        line-height: 40px;
    }

    .about-us__text {
        top: 195px;
        right: 8px;
        width: 860px;
        height: 57px;
        font-size: 50px;
        line-height: 80px;
        text-align: left;
    }
    .about-us-layout {
        position: relative;
        left: 30px;
        top: 760px;
        display: flex;
        flex-wrap: wrap;
        height: 3950px;
        width: 940px;
    }

    .about-us-layout__element {
        flex: 1 1 100%;
        width: 880px;
    }

    .photo {
        width: 880px;
        height: 880px;
    }

    #middle-photo {
        width: 880px;
        height: 880px;
    }
    .middle-profile__margin {
        margin-left: 7px;
    }

    .right-profile__margin {
        left: 11px;
    }

    .person-name {
        top: 44px;
        width: 833px;
        font-size: 50px;
        line-height: 50px;
        text-align: left;
        font-weight: 900;
        letter-spacing: 0.015em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666d89;
    }

    .person-name__margin {
        margin-right: 96px;
        right: 6px;
    }

    .person-text {
        position: relative;
        top: 54px;
        width: 833px;
        font-size: 33px;
        line-height: 60px;
        text-align: justify;
        letter-spacing: -0.005em;
        color: #767e9e;
    }

    .person-text-position {
        right: 6px;
    }

    #person-text__left {
        letter-spacing: -0.005em;
        margin-right: 96px;
    }

    #person-text__right {
        letter-spacing: 0.001em;
        margin-right: 96px;
    }

    .social-media {
        position: relative;
        top: 88px;
        right: 220px;
        display: flex;
        width: 423px;
    }

    #social-media__left {
        margin-left: 224px;
    }
    #social-media__middle {
        margin-left: 220px;
    }

    #social-media__right {
        margin-left: 220px;
    }

    .social-media>img {
        width: 89px;
        height: 89px;
        margin: 0 4px;
    }

    /* Quote-block */
    .quote-block {
        height: 2250px;
    }

    .quote__name {
        top: 120px;
        left: 10px;
        width: 900px;
        font-size: 83px;
        line-height: 50px;
    }

    .quote__description {
        top: 205px;
        right: 20px;
        width: 840px;
        height: 159px;
        font-size: 50px;
        line-height: 70px;
    }

    .quote-form {
        width: 860px;
        margin-left: 70px;
    }

    .form-fieldset {
        top: 600px;
        right: 160px;
        left: 10px;
    }

    .form-fieldset label, input, textarea {
        width: 100%;
        height: 105px;
        margin-bottom: 36px;
        line-height: 40px;
        border-radius: 14px;
    }

    .form-fieldset>::placeholder {
        font-size: 33px;
        line-height: 70px;
    }

    #send-button {
        top: 590px;
        left: 6px;
        width: inherit;
        font-size: 40px;
    }

    .contact-information {
        top: 601px;
        left: -6px;
        width: 860px;
        height: 175px;
        font-size: 33px;
        line-height: 60px;
    }

    #contact-information__word {
        font-size: 50px;
        line-height: 50px;
    }

    #contact-information__text {
        top: 11px;
        line-height: 60px;
    }

    .address {
        top: 31px;
        left: 4px;
    }

    #address__location-icon {
        width: 19px;
        height: 30px;
    }

    #address__phone-icon {
        width: 30px;
        height: 30px;

    }

    #address__mail-icon {
        width: 36px;
        height: 22px;
    }

    /* Footer 375*/
    .footer {
        height: 211px;
    }

    .copyright-text {
        display: none;
    }

    .footer-social-media {
        position: absolute;
        left: 234px;
        padding-top: 46px;
        padding-left: 50px;
        width: 500px;
    }

    .footer-logo {
        height: 88px;
        width: 88px;
    }
}